  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

  body {

          background-color: hsl(0, 0%, 95%);
          font-family: 'Lexend Deca', sans-serif;
    margin: 25px;
    /*center vertically and horizontally */
    display: flex;
    justify-content:center;
    align-items: center;
  }


  .container {
    /* width: 500px;
    height: 500px; */
    margin: 10px;
    /* display: flex; */
    justify-content:center;
    align-items: center;
  }

/*
    .item {
      width: 200px;
      height: 200px;
      margin:25px;
      background-color: white} */

    /* apply negative margins to truly center horizontally and vertically*/


    .column {
            float: left;
            width: 33.33%;
            }
/* Clear floats after the columns */
    .row:after {
            content: "";
            display: table;
            clear: both;
              }


      p       {
              color: hsla(0, 0%, 100%, 0.75);
              padding: 0% 10% 5% 10%;
              margin:auto;
              font-size: 1.5rem;
              line-height: 32px;

              }

    h2        {
              padding:3% 10% 3% 5%;
              color:hsl(0, 0%, 95%);
              margin:auto;
              margin-left: 10px;
              margin-bottom: 5px;
              font-size: 1.8rem;
              /* margin-top: 10%;
              margin-bottom: 10%; */
              }
          #first, #second, #third {height:100%;
            width: 100%;
          }
          .row {
            width: 100%;
            margin: auto;
          }


          #first {
            border-radius: 10px 10px 0px 0px;}
          #third {
            border-radius: 0px 0px 10px 10px
          }

        #firstbutton, #secondbutton, #thirdbutton{
          background-color: hsl(0, 0%, 95%);
          border-radius:20px;
          width:100px;
          height:32px;
          margin-left: 20px;
          margin-bottom: 20px;
          /* margin-left:10%; */
          /* position: relative;
          bottom:45%;
           */
                    }

        img {
          padding-left: 10%;
          padding-top:1%;
          margin-bottom: 0px;
        }

        #firstbutton{
          color: hsl(31, 77%, 52%);
        }
        #secondbutton {
          color:hsl(184, 100%, 22%);
          }
        #thirdbutton {
          color: hsl(179, 100%, 13%);
        }

@media only screen and (min-width:900px){
  .column {
          float: left;
          width: 33.33%;
          }
/* Clear floats after the columns */

.row:after {
          content: "";
          display: table;
          clear: both;
            }
.row {
          display: flex;
          height: 500px;
            }

.container {
    width: 700px;
    height: 800px;
    margin: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
  }

  p {
    font-size: 1.1rem;
    padding: 45px 20px 20px 20px;

  }


#firstbutton, #secondbutton, #thirdbutton{
  position: relative;
  bottom: 10px;
}

#first {
  border-radius: 10px 0px 0px 10px;}
#third {
  border-radius: 0px 10px 10px 0px
}


}
